.slider-box {
  
    display: flex;
    flex-direction: column; /* 设置为列布局以垂直堆叠元素 */
    align-items: center; /* 水平居中对齐子元素 */
    justify-content: center; /* 垂直居中对齐子元素 */
    height: 100vh; /* 调整视口高度，根据需要修改 */
  }
   
 .slider {
    width: 800px;
    height: 750px;
    overflow: hidden;
    position: relative;
    
  }
  
  .slides {
    display: flex;
    transition: transform 0.8s ease; /* 添加过渡效果 */
  }
  
  
  .slide {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 800px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .dots {
    width: 100%;
    text-align: center;
  }
  
  .dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid black;
  }
  
  .active {
    background-color: black;
  }

  
  .video-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 750px;
  }
  

  